
@{
    ViewBag.Title = "Index";
}

<div style="padding-bottom:7px" class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="card ">
                <div class="card-header ">
                    <h5 class="card-title">MEDICINES</h5>
                    <p class="card-category">These companies are delivering all the medical items including medicines/masks/Disinfectants...</p>
                </div>
                <div class="card-body ">
                    <ul>
                        <li><a target="_blank" href="https://www.1mg.com/">1mg</a></li>
                        <li><a target="_blank" href="https://www.apollopharmacy.in/">APOLLO PHARMACY</a></li>
                    </ul>
                </div>
                <div class="card-footer ">
                    <div class="legend">
                        *location availability/slots available may vary...<div></div>
                        <b>1MG IS DELIVERING MOST OF THE ORDERS WITHIN 2 DAYS</b>
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="fa fa-calendar"></i> #STAY HOME #ORDER MEDICINES ONLINE
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card ">
                <div class="card-header ">
                    <h5 class="card-title">GROCERIES</h5>
                    <p class="card-category">These are companies delivering commodities PAN INDIA...</p>
                </div>
                <div class="card-body ">
                    <ul>
                        <li><a target="_blank" href="https://www.amazon.in/Amazon-Now/b?ie=UTF8&node=8557209031">Amazon Now</a></li>
                        <li><a target="_blank" href="https://www.flipkart.com/grocery-supermart-store?marketplace=GROCERY">Flipkart Supermarket</a></li>
                        <li><a target="_blank" href="http://www.suprdaily.com/">Supr Daily</a></li>
                        <li><a target="_blank" href="https://grofers.com/">Grofers</a></li>
                        <li><a target="_blank" href="https://www.bigbasket.com/">BigBasket</a></li>
                        <li><a target="_blank" href="https://www.milkbasket.com/">Milkbasket</a></li>
                    </ul>
                </div>
                <div class="card-footer ">
                    <div class="legend">
                        *location availability/slots available may vary...
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="fa fa-calendar"></i> #STAY HOME #ORDER COMMODITIES ONLINE
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
